<footer id="footer" class="bg-one">
    <div class="top-footer">
        <div class="container">
        <div class="row justify-content-around">
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
            <h3>Sobre Nosotros</h3>
            <p>Street Fighters es un taller de arte automotriz especializado en personalización, pintura y restauración de vehículos. Damos vida a tus ideas sobre ruedas.</p>
            </div>
            <!-- End of .col-sm-3 -->

            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <ul>
                <li>
                <h3>Nuestros Servicios</h3>
                </li>
                <li><a href="service.html">Ui/Ux Design</a></li>
                <li><a href="service.html">Graphic Design</a></li>
                <li><a href="service.html">Web Design</a></li>
                <li><a href="service.html">Web Development</a></li>
            </ul>
            </div>
            <!-- End of .col-sm-3 -->

            <div class="col-lg-2 col-md-6 mb-5 mb-md-0">
            <ul>
                <li>
                <h3>Enlaces Rápidos</h3>
                </li>
                <li><a href="about.html">Sobre Nosotros</a></li>
                <li><a href="service.html">Nuestros Servicios</a></li>
                <li><a href="blog.html">Blogs</a></li>
                <li><a href="404.html">404</a></li>
            </ul>
            </div>
            <!-- End of .col-sm-3 -->

            <div class="col-lg-3 col-md-6">
            <ul>
                <li>
                <h3>Conéctate con nosotros</h3>
                </li>
                <li><a href="https://www.facebook.com/streetfightersem/">Facebook</a></li>
                <li><a href="https://www.instagram.com/street_fighters_em/">Instagram</a></li>
                <li><a href="https://www.twitter.com/streetfightersem/">Twitter</a></li>
                <li><a href="https://www.youtube.com/channel/UCx9qVW8VF0LmTi4OF2F8YdA">Youtube</a></li>
                <li><a href="https://www.github.com/streetfightersem/">Github</a></li>
            </ul>
            </div>
            <!-- End of .col-sm-3 -->
        </div>
        </div> <!-- end container -->
    </div> <!-- end top-footer -->
    <div class="footer-bottom">
    <h5>&copy; Copyright 2025. Street Fighters. Todos los derechos reservados.</h5>
    <h6>Desarrollado por <a href="https://Ikhodic.com" target="_blank" class="developer-link">ikhodi consultores.</a></h6>
    </div>
</footer> <!-- end footer -->